<html>
	<head>
		<title>Chart Party</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<meta name="description" content="A Blaseball visualization of a team's historical wins over .500 and the tragedies it took to get there.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://yoori.space/chartparty/">
		<meta property="og:title" content="Chart Party">
		<meta property="og:description" content="A Blaseball visualization of a team's historical wins over .500 and the tragedies it took to get there.">
		<meta property="og:image" content="http://yoori.space/favicon-128.png">
		<meta property="twitter:card" content="summary">
		<meta name="twitter:title" content="Chart Party">
		<meta name="twitter:description" content="A Blaseball visualization of a team's historical wins over .500 and the tragedies it took to get there.">
		<meta name="twitter:image" content="http://yoori.space/favicon-128.png">
		<link rel="icon" href="/favicon-128.png" sizes="128x128">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="chartparty.css" rel="stylesheet">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-T7S24X2FST"></script>
		<script>
			var GA_TRACKING_ID = 'G-T7S24X2FST';
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', GA_TRACKING_ID);
		</script>
	</head>
	<body>
		<div id="root">
			<nav></nav>
			<main></main>
		</div>
		
		<script type="text/template" id="template-index">
			<section class="index">
				<h1>Chart Party</h1>
				<h2>A Blaseball visualization of a team's historical wins over .500 (and the tragedies it took to get there). Choose a team above to begin.</h2>
				<p><span>@yooori#1569</span> &#x2022; <a href="https://twitter.com/yoorilikeglass">twitter</a> &#x2022; <a href="https://www.blaseball.com/team/d2634113-b650-47b9-ad95-673f8e28e687"><%= emoji(0x1F52E) %></a> &#x2022; <a href="https://sibr.dev/">SIBR</a> &#x2022; <a href="javascript:;"><%= emoji(isLightMode() ? 0x1F506 : 0x1F311) %></a></p>
			</section>
		</script>
		
		<script type="text/template" id="template-nav">
			<ul>
				<% _.each(models, function(model) { %>
					<li><a href="#<%= model.slug() %>"><i class="team-icon" style="background:<%= model.get("mainColor") %>"><%= emoji(model.get("emoji")) %></i><span style="<%= (isLightMode() ? "background:" : "color:") + model.get("secondaryColor") %>"><%= model.get("shorthand") %></span></a></li>
				<% }); %>
			</ul>
		</script>
		
		<script type="text/template" id="template-team">
			<header>
				<div class="team-icon" style="background:<%= team.get("mainColor") %>"><%= team.emoji(team.get("emoji")) %></div>
				<div class="team-info">
					<div class="team-name"><%= team.get("fullName") %></div>
					<div class="team-slogan"><%= team.get("slogan") %></div>
				</div>
			</header>
			<section class="chart"></section>
			<footer>
				<% if(seasons.length) { %>
					<div class="seasons-header">Choose a season</div>
					<a style="background:<%= team.get("secondaryColor") %>" href="#<%= team.slug() %>/season/all">All</a>
					<% seasons.each(function(season) { %>
						<% if(!_.contains(team.inactiveSeasons(), season.get("seasonNumber"))) { %>
							<a style="background:<%= team.get("secondaryColor") %>" href="#<%= team.slug() %>/season/<%= season.get("seasonNumber") + 1 %>"><%= season.get("seasonNumber") + 1%></a>
						<% } %>
					<% }) %>
				<% } else { %>
					<div class="seasons-header">Loading...</div>
				<% } %>
				<a data-toggle-lights="<%= team.isLightMode() ? "true" : "false" %>" href="javascript:;"><%= team.emoji(team.isLightMode() ? 0x1F506 : 0x1F311) %></a>
			</footer>
		</script>
		
		<script type="text/template" id="template-chart">
			<svg viewBox="0 0 <%= svg.width %> <%= svg.height %>" width="<%= svg.width %>" height="<%= svg.height %>">
				<% _.each(svg.outlines, function(outline) { %>
					<path class="outline" fill="<%= outline.postseason && outline.above ? "#48c3a5" : outline.postseason ? "#b1264a" : outline.above ? "#4ab94a" : "#e23636" %>" d="<%= outline.path.join(" ") %>"/>
				<% }) %>
				<% yPos = -1 %>
				<% lastIndex = -1 %>
				<% _.each(svg.bars, function(bar, num) { %>
					<% emojis = _.uniq(_.pluck(bar.outcomes, "emoji")) %>
					<% if(emojis.length) { %>
						<% _.each(emojis, function(emoji, index) { %>
							<% prevY = yPos %>
							<% yPos = bar.y - bar.height - (bar.above ? 2 : -1) * bar.radius * (((bar.above ? 1 : 2) * index) + 1) %>
							<% /*if(prevY > 0 && num - lastIndex <= 1 && yPos >= prevY - bar.radius) { yPos = prevY - (bar.above ? 2 : -2) * bar.radius }*/ %>
							<circle class="outcome" data-id="<%= bar.id %>" cx="<%= bar.x + bar.radius / 2 %>" cy="<%= yPos + 0.5 * bar.radius %>" r="<%= bar.radius %>" fill="#ffffff" />
							<image class="outcome" data-id="<%= bar.id %>" href="<%= emojiSvg(emoji) %>" x="<%= bar.x %>" y="<%= yPos %>" height="<%= bar.radius %>" width="<%= bar.radius %>" />
						<% }) %>
						<line class="outcome" x1="<%= bar.x + bar.radius / 2 %>" y1="<%= bar.y - bar.height %>" x2="<%= bar.x + bar.radius / 2 %>" y2="<%= yPos + bar.radius * (bar.above ? 1.5 + 2 * (emojis.length - 1) : -0.5 - 2 * (emojis.length - 1)) %>" />
						<% lastIndex = num %>
					<% } %>
					<path class="bar" data-id="<%= bar.id %>" fill="<%= bar.color %>" d="<%= bar.path.join(" ") %>"/>
				<% }) %>
			</svg>
		</script>
		
		<script type="text/template" id="template-details">
			<section class="details">
				<div class="details-header">
					<div class="details-day">Season <span class="number-box"><%= game.get("season") + 1 %></span><%= game.get("isPostseason") ? " Postseason" : "" %> Day <span class="number-box"><%= game.get("day") + 1 %></span></div>
					<div class="details-game">
						<div class="details-location">
							<div class="details-weather"><span title="<%= game.get("weather").name %>"><%= emoji(game.get("weather").emoji) %></span></div>
							<div class="details-city" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("home").secondaryColor %>"><%= game.get("home").location %></div>
						</div>
						<div class="details-series">
							<% if(game.get("isPostseason") && game.get("season") > 9) { %>
								Game <%= game.get("seriesIndex") %> (First to <%= game.get("seriesLength") %> Wins)
							<% } else { %>
								Game <%= game.get("seriesIndex") %> of <%= game.get("seriesLength") %>
							<% } %>
						</div>
					</div>
				</div>
				<div class="details-score">
					<div class="team-icon" style="background:<%= game.get("team").mainColor %>"><%= emoji(game.get("team").emoji) %></div>
					<div class="team-info">
						<div class="team-name" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("team").secondaryColor %>"><%= game.get("team").fullName %></div>
						<div class="team-details">
							<div class="team-record" style="<%= isLightMode() ? "background" : "color" %>: <%= game.get("team").secondaryColor %>">
								<<%= game.get("team").isWinner ? "strong" : "span" %>><%= game.get("isPostseason") ? game.get("team").seriesWins : game.get("team").wins %></<%= game.get("team").isWinner ? "strong" : "span" %>> - <<%= game.get("team").isWinner ? "span" : "strong" %>><%= game.get("isPostseason") ? game.get("team").seriesLosses : game.get("team").losses %></<%= game.get("team").isWinner ? "span" : "strong" %>>
							</div>
							<span class="team-odds"><%= Math.round(game.get("team").odds * 1000) / 10 %>%</span>
							<%= emoji(0x26be) %> 
							<span class="team-pitcher" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("team").secondaryColor %>"><%= game.get("team").pitcher %></span></div>
					</div>
					<div class="team-score <%= game.get("team").isWinner ? "is-winner" : "" %>"><%= game.get("team").score %></div>
				</div>
				<div class="details-score">
					<div class="team-icon" style="background:<%= game.get("opponent").mainColor %>"><%= emoji(game.get("opponent").emoji) %></div>
					<div class="team-info">
						<div class="team-name" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("opponent").secondaryColor %>"><%= game.get("opponent").fullName %></div>
						<div class="team-details">
							<div class="team-record" style="<%= isLightMode() ? "background" : "color" %>: <%= game.get("opponent").secondaryColor %>">
								<<%= game.get("opponent").isWinner ? "strong" : "span" %>><%= game.get("isPostseason") ? game.get("opponent").seriesWins : game.get("opponent").wins %></<%= game.get("opponent").isWinner ? "strong" : "span" %>> - <<%= game.get("opponent").isWinner ? "span" : "strong" %>><%= game.get("isPostseason") ? game.get("opponent").seriesLosses : game.get("opponent").losses %></<%= game.get("opponent").isWinner ? "span" : "strong" %>>
							</div>
							<span class="team-odds"><%= Math.round(game.get("opponent").odds * 1000) / 10 %>%</span>
							<%= emoji(0x26be) %>
							<span class="team-pitcher" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("opponent").secondaryColor %>"><%= game.get("opponent").pitcher %></span></div>
					</div>
					<div class="team-score <%= game.get("opponent").isWinner ? "is-winner" : "" %>"><%= game.get("opponent").score %></div>
				</div>
				<div class="details-result">The <%= game.oddsAdjective() %><strong class="team-name" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("team").secondaryColor %>"><%= game.get("team").nickname %></strong> <%= game.resultVerb() %> the <strong class="team-name" style="<%= isLightMode() ? "background" : "color" %>:<%= game.get("opponent").secondaryColor %>"><%= game.get("opponent").nickname %></strong><%= game.get("innings") > 8 ? " in extra innings (" + (game.get("innings") + 1) + ")" : "" %></div>
				<% if(game.get("duration") > 0) { %>
					<div class="details-duration">Game ended after <strong><%= game.formatDuration() %></strong></div>
				<% } %>
				<div class="details-outcomes">
					<% if(game.relevantOutcomes().length) { %>
						<ul>
							<% _.each(game.relevantOutcomes(), function(outcome) { %>
								<li><%= emoji(outcome.emoji) %> <%= (outcome.special && _.contains([game.get("team").id, game.get("opponent").id], "adc5b394-8f76-416d-9ce9-813706877b84")) ? outcome.special : (outcome.special2 && outcome.players[0].name == "Pitching Machine") ? outcome.special2 : outcome.formatted %></li>
							<% }) %>
						</ul>
					<% } %>
				</div>
			</section>
		</script>
		
		<script data-main="chartparty.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous"></script>
	</body>
</html>