:root {
	--body-bg: #fff;
	--body-text: #000;
	--body-border: #000;
	--nav-hover: #ddd;
	--header-text: #666;
	--player-alt-bg: #ddd;
	--player-hover-bg: #aaa;
	--modifiers-bg: #f7f7f7;
	--vibe-most-excellent: #000;
	--vibe-excellent: #000;
	--vibe-quality: #000;
	--vibe-neutral: #000;
	--vibe-less-than-ideal: #000;
	--vibe-far-less-than-ideal: #000;
	--vibe-honestly-terrible: #000;
	--vibe-most-excellent-bg: #15d400;
	--vibe-excellent-bg: #5de04f;
	--vibe-quality-bg: #8fdb88;
	--vibe-neutral-bg: #d1d1d1;
	--vibe-less-than-ideal-bg: #d97373;
	--vibe-far-less-than-ideal-bg: #de3c3c;
	--vibe-honestly-terrible-bg: #e00000;
	--stat-alt-bg: #eee;
	--stat-progress-bg: #bbb;
	--toggle-bg: #999;
	--toggle-hover: #fff;
	--toggle-hover-bg: #777;
	--toggle-light-hover: #292746;
	--footer-link: #000;
	--footer-hover: #fff;
	--footer-hover-bg: #000;
	--guide: #aaa;
	--chart-transparent: rgba(170,170,170,0);
	--chart-hover: #aaa;
	--chart-hover-bg: rgba(170,170,170,0.4);
}

.dark {
	--body-bg: #111;
	--body-text: #fff;
	--body-border: #fff;
	--nav-hover: #333;
	--header-text: #999;
	--player-alt-bg: #333;
	--player-hover-bg: #666;
	--modifiers-bg: #222;
	--vibe-most-excellent: #15d400;
	--vibe-excellent: #5de04f;
	--vibe-quality: #8fdb88;
	--vibe-neutral: #d1d1d1;
	--vibe-less-than-ideal: #d97373;
	--vibe-far-less-than-ideal: #de3c3c;
	--vibe-honestly-terrible: #e00000;
	--vibe-most-excellent-bg: transparent;
	--vibe-excellent-bg: transparent;
	--vibe-quality-bg: transparent;
	--vibe-neutral-bg: transparent;
	--vibe-less-than-ideal-bg: transparent;
	--vibe-far-less-than-ideal-bg: transparent;
	--vibe-honestly-terrible-bg: transparent;
	--stat-alt-bg: #333;
	--stat-progress-bg: #555;
	--toggle-bg: #333;
	--toggle-hover: #fff;
	--toggle-hover-bg: #585858;
	--toggle-light-hover: #f5d641;
	--footer-link: #fff;
	--footer-hover: #111;
	--footer-hover-bg: #fff;
	--guide: #777;
	--chart-transparent: rgba(255,255,255,0);
	--chart-hover: #fff;
	--chart-hover-bg: rgba(255,255,255,0.4);
}

html, 
body {
	margin: 0;
	padding: 0;
	font-family: Roboto, "sans-serif";
}

a {
	text-decoration: none;
	transition: all 0.4s ease-out;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	background: var(--body-bg);
	color: var(--body-text);
}

.transition {
	transition: background 0.4s ease-in-out;
}

nav {
	padding: 5px;
}

nav ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 5px;
}

nav ul li a {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: .3em .6em;
	font-weight: bold;
	border-radius: 5px;
}

nav ul li a:hover {
	background: var(--nav-hover);
}

nav ul li a i {
	margin-right: 5px;
}

nav ul li a span {
	color: var(--body-text);
	padding: .3em .6em;
	border-radius: 5px;
}

img.emoji {
	height:1em;
	width:1em;
	margin:.1em .05em .1em .1em;
	vertical-align:-0.1em;
}

main {
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	padding: 20px 0;
}

section.index h1 {
	font-size: 6em;
	margin: 0;
}

section.index h2 {
	font-size: 1.5em;
}

section.index p {
    display: flex;
    align-items: center;
    justify-content: center;
	font-size: 1em;
}

section.index p > * {
	padding: .3em;
	margin: 0 .3em;
}

section.index a {
	color: var(--footer-link);
	border-radius: 5px;
}

section.index a:hover {
	background: var(--footer-hover-bg);
	color: var(--footer-hover);
}

section.team {
	max-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 20px;
	border: 1px solid var(--body-border);
}

.team-icon {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 1.8em;
	min-width: 1.8em;
	border-radius: 50%;
}

.team-header {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px;
	border-bottom: 1px solid var(--body-border);
}

.team-header .team-icon {
	font-size: 2em;
}

.team-header .team-name {
	font-size: 1.4em;
}

.team-header .team-name a {
	color: var(--body-text);
}

.team-slogan {
	font-size: 0.9em;
	font-style: italic;
}

.team-slogan::before {
	content: open-quote;
}

.team-slogan::after {
	content: close-quote;
}

a.team-history {
	display: block;
    background: var(--toggle-bg);
    color: var(--body-text);
    border-radius: 5px;
    padding: .3em .6em;
	margin-top: 10px;
	font-size: 0.75em;
    font-weight: bold;
    text-align: center;
}

.team-card {
    display: inline-block;
    font-size: .8em;
    padding: .3em .6em;
    border: 1px solid var(--body-border);
    border-radius: 5px;
    margin-top: 5px;
}

.team-modifiers {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--modifiers-bg);
	padding: 10px 20px;
	border-bottom: 1px solid var(--body-border);
	font-size: 1.2em;
	transition: all 0.4s ease-out;
}

.team-players {
	overflow: auto;
	padding: 20px 0;
}

.team-players a {
	color: var(--body-text);
	padding: 5px;
}

.team-players a:not(.player-link) {
	flex-grow: 1;
	padding: 5px 20px;
}

.players-header {
	display: block;
	color: var(--header-text);
	text-align: center;
	margin-bottom: 10px;
}

.team-players ul {
	margin-bottom: 20px;
}

.team-players ul li {
	display: flex;
	flex-direction: row;
	transition: background 0.4s ease-in-out;
}

.team-players ul li:nth-child(odd) {
	background: var(--player-alt-bg);
}

.team-players ul li:hover {
	background: var(--player-hover-bg);
}

.team-toggles {
	max-width: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 20px;
	border-top: 1px solid var(--body-border);
	gap: 5px;
}

.team-toggles a {
	background: var(--toggle-bg);
	color: var(--body-text);
	border-radius: 5px;
	padding: .3em .6em;
	font-weight: bold;
	text-align: center;
}

a[data-toggle-knowledge] {
	flex-basis: 100%;
}

a[data-toggle-spacing] {
	flex-grow: 1;
}

.chart text:not(.legend) {
	fill: var(--body-text);
}

.chart text.title {
	font-size: 1.2em;
	font-weight: bold;
}

.chart text.legend, 
.chart text.axis-title,
.chart text.axis-star-label,
.chart text.axis-num-players-label,
.chart text.axis-stats-label {
	font-size: 0.8em;
}

.chart text.axis-date-label {
	font-size: 0.6em;
}

.chart text.axis-title {
	font-weight: bold;
}

.chart line.axis-border,
.chart line.axis-date-guide {
	stroke: var(--body-text);
	stroke-width: 1;
}

.chart line.axis-star-guide,
.chart line.axis-num-players-guide,
.chart line.axis-stats-guide {
	stroke: var(--guide);
	stroke-width: 1;
}

.chart circle,
.chart path {
	stroke: var(--chart-transparent);
	transition: all 0.4s ease-out;
}

.chart circle.active, 
.chart path.active { 
	fill: var(--chart-hover);
	stroke: var(--chart-hover-bg);
	cursor: pointer;
}

.grandiosity {
	background: #b77ce8;
	fill: #b77ce8;
}

.fortification {
	background: #6b6dd3;
	fill: #6b6dd3;
}

.batting,
.lineup,
.obtuseness {
	background: #7cb6e8;
	fill: #7cb6e8;
}

.baserunning,
.bench,
.ominousness {
	background: #33e28f;
	fill: #33e28f;
}

.inconvenience {
	background: #8be860;
	fill: #8be860;
}

.pitching,
.rotation,
.viscosity {
	background: #ffc107;
	fill: #ffc107;
}

.forwardness {
	background: #ea9d1e;
	fill: #ea9d1e;
}

.mysticism {
	background: #dc2020;
	fill: #dc2020;
}

.defense,
.bullpen,
.elongation {
	background: #e43b79;
	fill: #e43b79;
}

section.card {
	position: absolute;
	max-height: calc(100vh - 30px);
	width: 400px;
	background: var(--body-bg);
	color: var(--body-text);
	border: 1px solid var(--body-border);
	overflow: hidden;
}

.card .team-players ul li {
	display: grid;
	grid-template-columns: 60% 40%;
	padding: 5px 20px;
	align-items: center;
}

.card .team-players ul li span {
    display: flex;
    flex-direction: row;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card .player-header,
.card .stadium-header { 
	border-bottom: 1px solid var(--body-border);
	padding: 20px;
}

.card .player-name strong,
.card .stadium-name strong { 
	font-size:1.2em;
}

.card .player-team { 
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	margin-top: 5px;
}

.card .player-team .team-icon {
	margin-right: 5px;
}

.card .player-deceased,
.card .player-modifiers,
.card .stadium-modifiers {
	display: flex;
	flex-direction: row;
	align-items: center;
	background: var(--modifiers-bg);
	padding: 10px 20px;
	border-bottom: 1px solid var(--body-border);
	font-size: 1.2em;
}

.card .stadium-details-header {
	display: block;
	color: var(--header-text);
	text-align: center;
	margin: 10px 0;
}

.deceased-icon {
	margin-right: 10px;
}

.player-vibes {
	height: 1.5em;
	line-height: 1.5em;
    color: var(--body-text);
    justify-self: start;
    padding: 0px 4px 0px 2px;
	margin: 2px 0;
    border-radius: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
}

.player-vibe-freq {
	margin: 2px 0;
}

.vibe-most-excellent {
	background: var(--vibe-most-excellent-bg);
	color: var(--vibe-most-excellent);
}

.vibe-excellent {
	background: var(--vibe-excellent-bg);
	color: var(--vibe-excellent);
}

.vibe-quality {
	background: var(--vibe-quality-bg);
	color: var(--vibe-quality);
}

.vibe-neutral {
	background: var(--vibe-neutral-bg);
	color: var(--vibe-neutral);
}

.vibe-less-than-ideal {
	background: var(--vibe-less-than-ideal-bg);
	color: var(--vibe-less-than-ideal);
}

.vibe-far-less-than-ideal {
	background: var(--vibe-far-less-than-ideal-bg);
	color: var(--vibe-far-less-than-ideal);
}

.vibe-honestly-terrible {
	background: var(--vibe-honestly-terrible-bg);
	color: var(--vibe-honestly-terrible);
}

.card .team-stat-row,
.card .player-stat-row,
.card .stadium-stat-row { 
	display: grid;
	grid-template-columns: 50% 50%;
	padding: 10px 20px;
	align-items: center;
}

.card .team-stat-row:nth-child(odd),
.card .player-stat-row:nth-child(odd),
.card .stadium-stat-row:nth-child(odd) { 
	background: var(--stat-alt-bg);
}

.card .team-stat-row span,
.card .player-stat-row span,
.card .stadium-stat-row span {
	display: flex;
	flex-direction: row;
}

.card .player-stat-row span small {
	font-weight: bold;
	margin-left: 10px;
	align-self: center;
}

.card .stadium-stat-container {
	display: flex;
	flex-direction: row;
}

.card .stadium-stat-progress {
	flex-grow: 1;
	background: var(--stat-progress-bg);
	border-radius: 5px;
}

.card .stadium-stat-value {
	height: 100%;
}

.card .stadium-stat-container small {
	width: 20%;
	font-weight: bold;
	margin-left: 10px;
}

.card .player-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px 20px;
	gap: 20px
}

.card .player-items div { 
	display: flex;
	flex-direction: column;
	justify-content: center;
    flex-basis: calc(50% - 30px);
	background: var(--stat-alt-bg);
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	gap: 10px;
}

.card .player-items div > * { 
	margin: 0;
	word-break: break-word;
}

.soulscream, .soulsong { 
	font-weight:bold;
	font-style:italic;
	word-break: break-all;
}

.soulscream { 
	color:#ff0000;
}

.soulsong { 
	color:#5988ff
}

i.half-star { 
	display: flex;
	width: .6em;
	overflow: hidden;
}

.shadows,
.player-stat-row.shadows,
.players-column.shadows {
	display: none;
}

.secrets .players-column.shadows,
.secrets .team-players .shadows {
	display: block;
}

.secrets .player-stat-row.shadows {
	display: grid;
}

.secrets .card .team-players {
    display: grid;
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    gap: 10px;
}

.secrets .card .team-players ul li {
	grid-template-columns: 80% 20%;
}

.dark .player-vibes,
.dark .player-vibe-freq {
	padding: 0;
	margin: 0;
}

a[data-toggle-lights]:hover {
	background: var(--toggle-light-hover);
}

a[data-toggle-knowledge]:hover {
	background: #2b3a65;
	color: #93c6da;
}

a.team-history:hover,
a[data-toggle-spacing]:hover {
	background: var(--toggle-hover-bg);
}

@media screen and (max-width: 700px) {	
	nav ul {
		flex-wrap: nowrap;
		justify-content: normal;
		overflow: auto;
	}
	
	main {
		position: relative;
		flex-direction: column;
		justify-content: normal;
		padding: 0;
		overflow: auto;
	}
	
	section.index {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: center;
		text-align: center;
	}
	
	section.index h1 {
		font-size: 3em;
	}
	
	section.index h2 {
		font-size: 1em;
	}
	
	section.index p {
		font-size: 0.8em;
	}
	
	section.chart {
		width: 100%;
		height: 100%;
	}
	
	section.team {
		display: block;
		max-height: none;
	}
	
	.team-toggles {
		flex-direction: column;
		flex-wrap: nowrap;
		max-width: none;
		padding: 0;
		gap: 0;
	}
	
	.team-toggles a {
		flex-basis: auto;
		margin: 5px 5px 0;
	}
	
	.team-toggles a:last-child {
		margin: 5px;
	}
	
	section.card {
		width: calc(100vw - 42px);
		max-height: none;
	}
	
	.card .player-items {
		gap: 0;
		padding: 0 10px;
	}
	
	.card .player-items div {
		margin: 5px;
	}
}