<html>
	<head>
		<title>Hloroscopes</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
		<meta name="description" content="Blaseball player star charts over time.">
		<meta property="og:type" content="website">
		<meta property="og:url" content="http://yoori.space/hloroscopes/">
		<meta property="og:title" content="Hloroscopes">
		<meta property="og:description" content="Blaseball player star charts over time.">
		<meta property="og:image" content="http://yoori.space/favicon-128.png">
		<meta property="twitter:card" content="summary">
		<meta name="twitter:title" content="Hloroscopes">
		<meta name="twitter:description" content="Blaseball player star charts over time.">
		<meta name="twitter:image" content="http://yoori.space/favicon-128.png">
		<link rel="icon" href="/favicon-128.png" sizes="128x128">
		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link href="hloroscopes.css" rel="stylesheet">
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-T7S24X2FST"></script>
		<script>
			var GA_TRACKING_ID = 'G-T7S24X2FST';
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', GA_TRACKING_ID);
		</script>
	</head>
	<body>
		<div id="root">
			<nav></nav>
			<main></main>
		</div>
		
		<script type="text/template" id="template-index">
			<section class="index">
				<h1>Hloroscopes</h1>
				<h2>Blaseball player star charts over time. Choose a team above to begin.</h2>
				<p><span>@yooori#1569</span> &#x2022; <a href="https://twitter.com/yoorilikeglass">twitter</a> &#x2022; <a href="https://www.blaseball.com/team/d2634113-b650-47b9-ad95-673f8e28e687"><%= emoji(0x1F52E) %></a> &#x2022; <a href="https://sibr.dev/">SIBR</a> &#x2022; <a href="javascript:;"><%= emoji(isLightMode() ? 0x1F506 : 0x1F311) %></a></p>
			</section>
		</script>
		
		<script type="text/template" id="template-nav">
			<ul>
				<% _.each(models, function(model) { %>
					<li><a href="#<%= model.slug() %>"><i class="team-icon" style="background:<%= model.get("mainColor") %>"><%= emoji(model.get("emoji")) %></i><span style="<%= (isLightMode() ? "background:" : "color:") + model.get("secondaryColor") %>"><%= model.get("shorthand") %></span></a></li>
				<% }); %>
			</ul>
		</script>
		
		<script type="text/template" id="template-team">
			<section class="chart"></section>
			<section class="team">
				<div class="team-header">
					<div>
						<div class="team-icon" style="background:<%= get("mainColor") %>"><%= emoji(get("emoji")) %></div>
						<% if(get("stadium")) { %>
							<a class="team-history" href="#<%= slug() %>/stadium">Stadium</a>
						<% } %>
						<% if(!get("tributes") && get("id") != "all") { %>
							<a class="team-history" href="#<%= slug() %>/history">History</a>
						<% } %>
					</div>
					<div class="team-info">
						<div class="team-name"><a href="https://blaseball.com/team/<%= get("id") %>"><%= get("fullName") %></a></div>
						<div class="team-slogan"><%= get("slogan") %></div>
						<% if(arcana()) { %>
							<div class="team-card"><%= arcana() %></div>
						<% } %>
					</div>
				</div>
				<% if(get("id") == "all") { %>
					<div class="team-player-search">
						<input type="search" placeholder="Search for a player..." />
					</div>
				<% }
				if(get("permAttr").length || get("seasAttr").length) { %>
					<div class="team-modifiers">
						<% _.each(_.union(get("permAttr"), get("seasAttr")), function(modifier) { %>
							<% modifier = getModifier(modifier) %>
							<span title="<%= modifier.title + (modifier.descriptions && modifier.descriptions.team ? (" - " + modifier.descriptions.team) : (modifier.description ? (" - " + modifier.description) : "")) %>"><%= emoji(modifier.emoji) %></span>
						<% }) %>
					</div>
				<% } %>
				<div class="team-players">
					<% if(get("id") == "all") { %>
						<%= players("Active") %>
						<%= players("Deceased") %>
						<div class="shadows">
							<%= players("Exhibition") %>
							<%= players("Inactive") %>
						</div>
					<% } else if(get("tributes") && get("tributes").length) { %>
						<%= players("Tributes") %>
					<% } else { %>
						<%= players("Lineup") %>
						<%= players("Rotation") %>
						<div class="shadows">
							<% if(_.size(get("bench"))) { %>
								<%= players("Bench") %>
							<% } %>
							<% if(_.size(get("bullpen"))) { %>
								<%= players("Bullpen") %>
							<% } %>
							<% if(_.size(get("percolated"))) { %>
								<%= players("Percolated") %>
							<% } %>
						</div>
					<% } %>
				</div>
				<div class="team-toggles">
					<a data-toggle-knowledge="<%= isForbidden() ? "true" : "false" %>" href="javascript:;">Forbidden Knowledge <%= isForbidden() ? "Visible" : "Hidden" %></a>
					<a data-toggle-spacing="<%= isEvenlySpaced() ? "true" : "false" %>" href="javascript:;">Spaced <%= isEvenlySpaced() ? "Evenly" : "By Real Time" %></a>
					<a data-toggle-lights="<%= isLightMode() ? "true" : "false" %>" href="javascript:;"><%= emoji(isLightMode() ? 0x1F506 : 0x1F311) %></a>
				</div>
			</section>
		</script>
		
		<script type="text/template" id="template-players">
			<div class="players-header"><%= position %></div>
			<ul>
				<% _.each(players, function(player) { %>
					<li>
						<a href="#<%= player.slug() %>"><%= player.canonicalName() %></a><a class="shadows player-link" href="#<%= player.slug() %>/advanced" title="See the history of advanced player stats for <%= player.canonicalName() %>"><%= emoji(0x1F34E) %></a><a class="player-link" href="https://blaseball.com/player/<%= player.id %>" title="Go to official player page for <%= player.canonicalName() %>"><%= emoji(0x1F517) %></a></li>
				<% }); %>
			</ul>
		</script>
		
		<script type="text/template" id="template-chart">
			<svg viewBox="0 0 <%= svg.width %> <%= svg.height %>" width="<%= svg.width %>" height="<%= svg.height %>">
				<text class="title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%= svg.titleOffset / 2 %>"><%= svg.title %></text>
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.titleOffset %>" x2="<%= svg.margin %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.innerHeight + svg.titleOffset %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<g transform="translate(<%= svg.margin / 2 - svg.radius %> <%= svg.height / 2 %>) rotate(-90)">
					<text class="axis-title" text-anchor="middle" x="0" y="0">Number of Stars</text>
				</g>
				<text class="axis-title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%=svg.height - svg.margin / 2 + svg.radius %>">Date</text>
				<% _.each(svg.labels.stars, function(label) { %>
					<line class="axis-star-guide" x1="<%= svg.margin %>" y1="<%= label.pos %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= label.pos %>" />
					<text class="axis-star-label" text-anchor="end" dominant-baseline="middle" x="<%= svg.margin - svg.radius %>" y="<%= label.pos %>"><%= label.num %></text>
				<% }) %>
				<% _.each(svg.labels.dates, function(label) { %>
					<line class="axis-date-guide" x1="<%= label.x %>" y1="<%= label.y + svg.margin - svg.radius %>" x2="<%= label.x %>" y2="<%= label.y + svg.margin + svg.radius %>" />
					<% if(label.show) { %>
						<text class="axis-date-label" text-anchor="middle" dominant-baseline="<%= label.above ? "hanging" : "baseline" %>" x="<%= label.x %>" y="<%= label.y + (label.above ? -3.5 : 3.5) * svg.radius + svg.margin %>"><%= label.date %></text>
					<% } %>
					<% _.each(label.emojis, function(emoji) { %>
						<image href="<%= emojiSvg(emoji) %>" x="<%= label.x - 0.375 * svg.padding %>" y="<%= label.y + 0.375 * svg.padding %>" height="<%= 0.75 * svg.padding %>" width="<%= 0.75 * svg.padding %>" />
					<% }) %>
				<% }) %>
				<circle class="legend batting" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 %>" r="<%= svg.radius %>" />
				<text class="legend batting" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 %>">batting</text>
				<circle class="legend baserunning" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 3 %>" r="<%= svg.radius %>" />
				<text class="legend baserunning" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 3 %>">baserunning</text>
				<circle class="legend pitching" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 6 %>" r="<%= svg.radius %>" />
				<text class="legend pitching" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 6 %>">pitching</text>
				<circle class="legend defense" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 9 %>" r="<%= svg.radius %>" />
				<text class="legend defense" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 9 %>">defense</text>
				<% _.each(svg.plots, function(plot, name) { %>
					<% _.each(plot.paths, function(path) { %>
						<path class="<%= name %>" data-id="<%= path.id %>" d="<%= path.path.join(" ") %>" stroke-width="<%= svg.radius %>" />
					<% }) %>
					<% _.each(plot.points, function(point) { %>
						<circle class="<%= name %>" data-id="<%= point.id %>" cx="<%= point.x %>" cy="<%= point.y %>" r="<%= svg.radius %>" style="stroke-width:<%= 2 * svg.radius %>" />
					<% }) %>
				<% }) %>
			</svg>
		</script>
		
		<script type="text/template" id="template-card">
			<section class="card">
				<div class="player-header">
					<div class="player-name">
						<strong><%= get("data").name %></strong>
						<span>(<%= get("start").toLocaleDateString() %> <%= get("start").toLocaleTimeString() %>)<span>
					</div>
					<% if(get("data").teams.league || get("data").teams.tournament) { %>
						<div class="player-team">
							<% var leagueTeam = getTeamById(get("data").teams.league) %>
							<span class="team-icon" style="background:<%= leagueTeam ? leagueTeam.get("mainColor") : "#bbbbbb" %>"><%= emoji(leagueTeam ? leagueTeam.get("emoji") : 0x2753) %></span>
							<span class="team-name"><%= leagueTeam ? leagueTeam.get("fullName") : "Null Team" %></span>
						</div>
						<% if(get("data").teams.tournament) { %>
							<div class="player-team">
								<% var tournamentTeam = getTeamById(get("data").teams.tournament) %>
								<span class="team-icon" style="background:<%= tournamentTeam.get("mainColor") %>"><%= emoji(tournamentTeam.get("emoji")) %></span>
								<span class="team-name"><%= tournamentTeam.get("fullName") %></span>
							</div>
						<% } %>
					<% } %>
				</div>
				<% var playerMods = _.union(get("data").modifiers.permanent, get("data").modifiers.seasonal, get("data").modifiers.item);
				if(get("data").deceased) {
					playerMods = _.union(playerMods, get("data").modifiers.game); %>
					<div class="player-deceased">
						<span class="deceased-icon"><%= emoji(0x1F480) %></span>
						<span>Deceased</span>
					</div>
				<% }
				if(playerMods.length) { %>
					<div class="player-modifiers">
						<% _.each(playerMods, function(modifier) { 
							modifier = getModifier(modifier) %>
							<span title="<%= modifier.title %>"><%= emoji(modifier.emoji) %></span>
						<% }) %>
					</div>
				<% } %>
				<div class="player-stats">
					<div class="player-stat-row">
						<strong>Changes</strong>
						<span><%= _.reduce(isForbidden() ? get("changes") : _.without(get("changes"), "fingers"), function(c, d) { return c + ", " + d; }) %></span>
					</div>
					<% if(!isRetired() && !isPercolated()) { %>
						<div class="player-stat-row">
							<% if(get("data").vibes) { %>
								<strong>Maximum Vibes</strong><%= vibeCheck(get("data").vibes.maximum) %>
								<strong>Minimum Vibes</strong><%= vibeCheck(get("data").vibes.minimum) %>
								<% if(isForbidden()) { %>
									<strong>Frequency</strong><span class="player-vibe-freq"><%= get("data").vibes.frequency %> days</span>
								<% } %>
							<% } else { %>
								<strong>Vibes</strong>
								<span>Unknown</span>
							<% } %>
						</div>
						<div class="player-stat-row">
							<strong>Batting</strong>
							<span>
								<%= getStarsForRating("batting") %>
								<small>(<%= getRoundedRating("batting") %>)</small>
							</span>
						</div>
						<div class="player-stat-row">
							<strong>Pitching</strong>
							<span>
								<%= getStarsForRating("pitching") %>
								<small>(<%= getRoundedRating("pitching") %>)</small>
							</span>
						</div>
						<div class="player-stat-row">
							<strong>Baserunning</strong>
							<span>
								<%= getStarsForRating("baserunning") %>
								<small>(<%= getRoundedRating("baserunning") %>)</small>
							</span>
						</div>
						<div class="player-stat-row">
							<strong>Defense</strong>
							<span>
								<%= getStarsForRating("defense") %>
								<small>(<%= getRoundedRating("defense") %>)</small>
							</span>
						</div>
						<div class="player-items">
							<% _.each(get("data").items, function(item) { %>
								<div>
									<p><strong><%= item.get("name") %></strong></p>
									<p>
										<% if(item.get("durability") > -1) {
											_.times(item.get("durability"), function(i) { 
												print(emoji(i < item.get("health") ? 0x1F534 : 0x2B55));
											});
										} else if(item.get("durability") > -2) { %>
											Unbreakable
										<% } else { %>
											Legendary Item
										<% } %>
									</p>
								</div>
							<% }) %>
							<% _.times(4 - get("data").items.length, function(e) { %>
								<div><p>Empty Slot</p></div>
							<% }) %>
						</div>
					<% } %>
					<div class="player-stat-row">
						<strong>Evolution</strong>
						<span>Base <%= get("data").evolution > 0 ? get("data").evolution : "" %></span>
					</div>
					<div class="player-stat-row">
						<strong>Peanut Allergy</strong>
						<span><%= get("data").allergy ? "Allergic" : "Not Allergic" %></span>
					</div>
					<div class="player-stat-row">
						<strong>Pregame Ritual</strong>
						<span><%= get("data").ritual %></span>
					</div>
					<div class="player-stat-row">
						<strong>Coffee Style</strong>
						<span><%= get("data").coffee %></span>
					</div>
					<div class="player-stat-row">
						<strong>Blood Type</strong>
						<span><%= get("data").blood %></span>
					</div>
					<div class="player-stat-row">
						<strong>Fate</strong>
						<span><%= get("data").fate %></span>
					</div>
					<div class="player-stat-row shadows">
						<strong>Fingers</strong>
						<span><%= get("data").fingers %></span>
					</div>
					<div class="player-stat-row shadows">
						<strong>eDensity</strong>
						<span><%= get("data").edensity ? get("data").edensity : "-" %></span>
					</div>
					<div class="player-stat-row">
						<% if(isRetired()) { %>
							<strong>Soulsong</strong>
							<span class="soulsong"><%= get("data").soulscream %></span>
						<% } else { %>
							<strong>Soulscream</strong>
							<span class="soulscream"><%= get("data").soulscream %></span>
						<% } %>
					</div>
				</div>
			</section>
		</script>

		<script type="text/template" id="template-advanced">
			<h1><%= last().get("data").canonical %></h1>
			<div class="advanced">
				<table>
					<colgroup span="6"></colgroup>
					<colgroup span="9"></colgroup>
					<colgroup span="7"></colgroup>
					<colgroup span="6"></colgroup>
					<colgroup span="6"></colgroup>
					<colgroup span="2"></colgroup>
					<colgroup span="5"></colgroup>
					<thead>
						<tr>
							<th colspan="6" title="General Player Info">General</th>
							<th colspan="9" title="Batting Stats">Batting</th>
							<th colspan="7" title="Pitching Stats">Pitching</th>
							<th colspan="6" title="Baserunning Stats">Baserunning</th>
							<th colspan="6" title="Defense Stats">Defense</th>
							<th colspan="2" title="Vibe Stats">Vibes</th>
							<th colspan="5" title="Miscellaneous Player Info">Misc</th>
						</tr>
						<tr>
							<th class="player-timestamp" title="Date">Date</th>
							<th title="Name">Name</th>
							<th title="Team">Team</th>
							<th title="Modifications">Modifications</th>
							<th title="Items">Items</th>
							<th title="Combined Stars"><%= emoji(0x1F31F) %></th>
							<th title="Batting Stars"><%= emoji(0x2B50) %></th>
							<th title="Buoyancy">float</th>
							<th title="Divinity">divin</th>
							<th title="Martyrdom">martyr</th>
							<th title="Moxie">moxie</th>
							<th title="Musclitude">muscl</th>
							<th title="Patheticism">path</th>
							<th title="Thwackability">thwack</th>
							<th title="Tragicness">tragic</th>
							<th title="Pitching Stars"><%= emoji(0x2B50) %></th>
							<th title="Coldness">cold</th>
							<th title="Overpowerment">op</th>
							<th title="Ruthlessness">ruth</th>
							<th title="Shakespearianism">shakes</th>
							<th title="Suppression">supp</th>
							<th title="Unthwackability">unthwk</th>
							<th title="Baserunning Stars"><%= emoji(0x2B50) %></th>
							<th title="Base Thirst">thrst</th>
							<th title="Continuation">cont</th>
							<th title="Ground Friction">fric</th>
							<th title="Indulgence">indlg</th>
							<th title="Laserlikeness">laser</th>
							<th title="Defense Stars"><%= emoji(0x2B50) %></th>
							<th title="Anticapitalism">ancap</th>
							<th title="Chasiness">chase</th>
							<th title="Omniscience">omni</th>
							<th title="Tenaciousness">tenac</th>
							<th title="Watchfulness">watch</th>
							<th title="Pressurization">prssr</th>
							<th title="Cinnamon">cinn</th>
							<th title="Soul">soul</th>
							<th title="Fate">fate</th>
							<th title="Total Fingers">fingers</th>
							<th title="Peanut Allergy">allergy</th>
							<th title="eDensity">density</th>
						</tr>
					</thead>
					<tbody>
						<% _.each(models, function(model) { %>
							<tr>
								<td class="player-timestamp">
									<span title="Changes seen at <%= model.get("start").toLocaleDateString() %> <%= model.get("start").toLocaleTimeString() %>: <%= _.reduce(model.get("changes"), function(c, d) { return c + ", " + d; }) %>"><%= model.get("start").toLocaleDateString() %> <%= model.get("start").toLocaleTimeString() %></span>
								</td>
								<td>
									<% if(model.get("data").deceased) { %>
										<span title="Deceased"><%= emoji(0x1F480) %></span>
									<% } %>
									<span><%= model.get("data").name %></span>
								</td>
								<td class="player-stat">
									<% if(model.get("data").teams.league) { 
										var leagueTeam = model.getTeamById(model.get("data").teams.league);
										if(leagueTeam) { %>
											<span><%= emoji(leagueTeam.get("emoji")) %></span>
											<span><%= leagueTeam.get("nickname") %></span>
										<% } else {
											print("-");
										}
									} else {
										print("-");	
									} %>
								</td>
								<td class="player-stat">
									<% var playerMods = _.union(model.get("data").modifiers.permanent, model.get("data").modifiers.seasonal, model.get("data").modifiers.item);
									if(model.get("data").deceased) {
										playerMods = _.union(playerMods, model.get("data").modifiers.game);
									}
									if(playerMods.length) {
										_.each(playerMods, function(modifier) {
											modifier = model.getModifier(modifier) %>
											<span title="<%= modifier.title + (modifier.descriptions && modifier.descriptions.player ? (" - " + modifier.descriptions.player) : (modifier.description ? (" - " + modifier.description) : "")) %>"><%= emoji(modifier.emoji) %></span>
										<% });
									} else {
										print("-")
									} %>
								</td>
								<td class="player-stat">
									<% if(model.get("data").items.length) {
										_.each(model.get("data").items, function(item) { %>
											<span title="<%= item.get("name") %><% if(item.get("durability") > 0) {
												if(item.get("health") > 0) {
													print(" (" + item.get("health") + "/" + item.get("durability") + ")");
												} else {
													print(" (broken)");
												}
											} %>"><%= emoji(item.getEmoji()) %></span>
										<% });
									} else {
										print("-");	
									} %>
								</td>
								<td class="player-stat"><%= model.getCombinedRoundedRating() %></td>
								<td class="player-stat"><%= model.getRoundedRating("batting") %></td>
								<% _.each(["buoyancy", "divinity", "martyrdom", "moxie", "musclitude", "patheticism", "thwackability", "tragicness"], function(attribute) { %>
									<td class="player-stat <%= model.getScaleClass(attribute) %>">
										<%= model.getRoundedAttribute(attribute) %>
									</td>
								<% }) %>
								<td class="player-stat"><%= model.getRoundedRating("pitching") %></td>
								<% _.each(["coldness", "overpowerment", "ruthlessness", "shakespearianism", "suppression", "unthwackability"], function(attribute) { %>
									<td class="player-stat <%= model.getScaleClass(attribute) %>">
										<%= model.getRoundedAttribute(attribute) %>
									</td>
								<% }) %>
								<td class="player-stat"><%= model.getRoundedRating("baserunning") %></td>
								<% _.each(["baseThirst", "continuation", "groundFriction", "indulgence", "laserlikeness"], function(attribute) { %>
									<td class="player-stat <%= model.getScaleClass(attribute) %>">
										<%= model.getRoundedAttribute(attribute) %>
									</td>
								<% }) %>
								<td class="player-stat"><%= model.getRoundedRating("defense") %></td>
								<% _.each(["anticapitalism", "chasiness", "omniscience", "tenaciousness", "watchfulness", "pressurization", "cinnamon"], function(attribute) { %>
									<td class="player-stat <%= model.getScaleClass(attribute) %>">
										<%= model.getRoundedAttribute(attribute) %>
									</td>
								<% }) %>
								<td class="player-stat"><%= model.get("raw").soul %></td>
								<td class="player-stat"><%= model.get("raw").fate ? model.get("raw").fate : "-" %></td>
								<td class="player-stat"><%= model.get("raw").totalFingers %></td>
								<td class="player-stat">
									<% if(model.get("raw").peanutAllergy) { %>
										<span title="Allergic"><%= emoji(0x1F922) %></span>
									<% } else { %>
										<span title="Not Allergic"><%= emoji(0x1F60B) %></span>
									<% } %>
								</td>
								<td class="player-stat"><%= model.get("raw").eDensity ? Math.round(1000 * model.get("raw").eDensity) / 1000 : "-" %></td>
							</tr>
						<% }) %>
					</tbody>
				</table>
			</div>
		</script>
		
		<script type="text/template" id="template-history-chart">
			<svg viewBox="0 0 <%= svg.width %> <%= svg.height %>" width="<%= svg.width %>" height="<%= svg.height %>">
				<text class="title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%= svg.titleOffset / 2 %>"><%= svg.title %></text>
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.titleOffset %>" x2="<%= svg.margin %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.innerHeight + svg.titleOffset %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<g transform="translate(<%= svg.margin / 2 - svg.radius %> <%= svg.height / 2 %>) rotate(-90)">
					<text class="axis-title" text-anchor="middle" x="0" y="0">Number of Players</text>
				</g>
				<text class="axis-title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%=svg.height - svg.margin / 2 + svg.radius %>">Date</text>
				<% _.each(svg.labels.players, function(label) { %>
					<line class="axis-num-players-guide" x1="<%= svg.margin %>" y1="<%= label.pos %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= label.pos %>" />
					<text class="axis-num-players-label" text-anchor="end" dominant-baseline="middle" x="<%= svg.margin - svg.radius %>" y="<%= label.pos %>"><%= label.num %></text>
				<% }) %>
				<% _.each(svg.labels.dates, function(label) { %>
					<line class="axis-date-guide" x1="<%= label.x %>" y1="<%= label.y + svg.margin - svg.radius %>" x2="<%= label.x %>" y2="<%= label.y + svg.margin + svg.radius %>" />
					<% if(label.show) { %>
						<text class="axis-date-label" text-anchor="middle" dominant-baseline="<%= label.above ? "hanging" : "baseline" %>" x="<%= label.x %>" y="<%= label.y + (label.above ? -3.5 : 3.5) * svg.radius + svg.margin %>"><%= label.date %></text>
					<% } %>
				<% }) %>
				<circle class="legend lineup" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 %>" r="<%= svg.radius %>" />
				<text class="legend lineup" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 %>">lineup</text>
				<circle class="legend rotation" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 3 %>" r="<%= svg.radius %>" />
				<text class="legend rotation" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 3 %>">rotation</text>
				<circle class="legend bench" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 6 %>" r="<%= svg.radius %>" />
				<text class="legend bench" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 6 %>">bench</text>
				<circle class="legend bullpen" cx="<%= svg.width - svg.margin / 2 %>" cy="<%= svg.margin / 2 + svg.radius * 9 %>" r="<%= svg.radius %>" />
				<text class="legend bullpen" text-anchor="end" dominant-baseline="middle" x="<%= svg.width - svg.margin / 2 - svg.radius * 2 %>" y="<%= svg.margin / 2 + svg.radius * 9 %>">bullpen</text>
				<% _.each(svg.plots, function(plot, name) { %>
					<% _.each(plot.paths, function(path) { %>
						<path class="<%= name %>" data-id="<%= path.id %>" d="<%= path.path.join(" ") %>" stroke-width="<%= svg.radius %>" />
					<% }) %>
					<% _.each(plot.points, function(point) { %>
						<circle class="<%= name %>" data-id="<%= point.id %>" cx="<%= point.x %>" cy="<%= point.y %>" r="<%= svg.radius %>" style="stroke-width:<%= 2 * svg.radius %>" />
					<% }) %>
				<% }) %>
			</svg>
		</script>
		
		<script type="text/template" id="template-history-card">
			<section class="card">
				<div class="team-header">
					<div class="team-icon" style="background:<%= team.get("mainColor") %>"><%= emoji(team.get("emoji")) %></div>
					<div class="team-info">
						<div class="team-timestamp"><%= model.get("start").toLocaleDateString() %> <%= model.get("start").toLocaleTimeString() %></div>
						<div class="team-name"><%= model.get("data").name %></div>
						<div class="team-slogan"><%= model.get("data").slogan %></div>
						<% if(model.get("data").arcana) { %>
							<div class="team-card"><%= model.get("data").arcana %></div>
						<% } %>
					</div>
				</div>
				<div class="team-detail">
					<% if(model.get("data").modifiers.length) { %>
						<div class="team-modifiers">
							<% _.each(model.get("data").modifiers, function(modifier) { %>
								<% modifier = getModifier(modifier) %>
								<span title="<%= modifier.title %>"><%= emoji(modifier.emoji) %></span>
							<% }) %>
						</div>
					<% } %>
					<div class="team-stat-row">
						<strong>Changes</strong>
						<span><%= _.reduce(model.get("changes"), function(c, d) { return c + ", " + d; }) %></span>
					</div>
					<div class="team-stat-row">
						<strong>Championships</strong>
						<span><% _.times(model.get("data").championships, function() { print(emoji(0x1F48D)) }) %></span>
					</div>
					<% if(model.get("data").level) { %>
						<div class="team-stat-row">
							<strong>Level</strong>
							<span><%= model.get("data").level %></span>
						</div>
					<% } %>
					<% if(model.get("players") && model.get("players").length) { %>
						<div class="team-players">
							<div class="players-column">
								<div class="players-header">Lineup</div>
								<ul>
									<% _.each(model.get("data").lineup, function(id) { %>
										<% var thisPlayer = model.get("players").find({id : id}) %>
										<% if(thisPlayer) { %>
											<li><span><%= thisPlayer.get("name") %></span><span><%= isForbidden() ? Math.round(500 * thisPlayer.get("batting")) / 100 : thisPlayer.getBattingStars() %></span></li>
										<% } else { %>
											<li><span><%= id %></span></li>
										<% } %>
									<% }) %>
								</ul>
								<div class="players-header">Rotation</div>
								<ul>
									<% _.each(model.get("data").rotation, function(id) { %>
										<% var thisPlayer = model.get("players").find({id : id}) %>
										<% if(thisPlayer) { %>
											<li><span><%= thisPlayer.get("name") %></span><span><%= isForbidden() ? Math.round(500 * thisPlayer.get("pitching")) / 100 : thisPlayer.getPitchingStars() %></span></li>
										<% } else { %>
											<li><span>Loading...</span><span><%= id %></span></li>
										<% } %>
									<% }) %>
								</ul>
							</div>
							<div class="players-column shadows">
								<div class="players-header">Bench</div>
								<ul>
									<% _.each(model.get("data").bench, function(id) { %>
										<% var thisPlayer = model.get("players").find({id : id}) %>
										<% if(thisPlayer) { %>
											<li><span><%= thisPlayer.get("name") %></span><span><%= isForbidden() ? Math.round(500 * thisPlayer.get("batting")) / 100 : thisPlayer.getBattingStars() %></span></li>
										<% } else { %>
											<li><span>Loading...</span><span><%= id %></span></li>
										<% } %>
									<% }) %>
								</ul>
								<div class="players-header">Bullpen</div>
								<ul>
									<% _.each(model.get("data").bullpen, function(id) { %>
										<% var thisPlayer = model.get("players").find({id : id}) %>
										<% if(thisPlayer) { %>
											<li><span><%= thisPlayer.get("name") %></span><span><%= isForbidden() ? Math.round(500 * thisPlayer.get("pitching")) / 100 : thisPlayer.getPitchingStars() %></span></li>
										<% } else { %>
											<li><span>Loading...</span><span><%= id %></span></li>
										<% } %>
									<% }) %>
								</ul>
							</div>
						</div>
					<% } else { %>
						<div class="team-stat-row">
							<strong>Lineup</strong>
							<span><%= _.size(model.get("data").lineup) %> Players</span>
						</div>
						<div class="team-stat-row">
							<strong>Rotation</strong>
							<span><%= _.size(model.get("data").rotation) %> Players</span>
						</div>
						<div class="team-stat-row">
							<strong>Bench</strong>
							<span><%= _.size(model.get("data").bench) %> Players</span>
						</div>
						<div class="team-stat-row">
							<strong>Bullpen</strong>
							<span><%= _.size(model.get("data").bullpen) %> Players</span>
						</div>
					<% } %>
				</div>
			</section>
		</script>

		<script type="text/template" id="template-stadium-chart">
			<svg viewBox="0 0 <%= svg.width %> <%= svg.height %>" width="<%= svg.width %>" height="<%= svg.height %>">
				<text class="title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%= svg.titleOffset / 2 %>"><%= svg.title %></text>
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.titleOffset %>" x2="<%= svg.margin %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<line class="axis-border" x1="<%= svg.margin %>" y1="<%= svg.innerHeight + svg.titleOffset %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= svg.innerHeight + svg.titleOffset %>" />
				<g transform="translate(<%= svg.margin / 2 - svg.radius %> <%= svg.height / 2 %>) rotate(-90)">
					<text class="axis-title" text-anchor="middle" x="0" y="0">Stats</text>
				</g>
				<text class="axis-title" text-anchor="middle" dominant-baseline="middle" x="<%= svg.width / 2 %>" y="<%=svg.height - svg.margin / 2 + svg.radius %>">Date</text>
				<% _.each(svg.labels.stats, function(label) { %>
					<line class="axis-stats-guide" x1="<%= svg.margin %>" y1="<%= label.pos %>" x2="<%= svg.margin + svg.innerWidth %>" y2="<%= label.pos %>" />
					<text class="axis-stats-label" text-anchor="end" dominant-baseline="middle" x="<%= svg.margin - svg.radius %>" y="<%= label.pos %>"><%= label.num %></text>
				<% }) %>
				<% _.each(svg.labels.dates, function(label) { %>
					<line class="axis-date-guide" x1="<%= label.x %>" y1="<%= label.y + svg.margin - svg.radius %>" x2="<%= label.x %>" y2="<%= label.y + svg.margin + svg.radius %>" />
					<% if(label.show) { %>
						<text class="axis-date-label" text-anchor="middle" dominant-baseline="<%= label.above ? "hanging" : "baseline" %>" x="<%= label.x %>" y="<%= label.y + (label.above ? -3.5 : 3.5) * svg.radius + svg.margin %>"><%= label.date %></text>
					<% } %>
				<% }) %>
				<% _.each(svg.plots, function(plot, name) { %>
					<% _.each(plot.paths, function(path) { %>
						<path class="<%= name %>" data-id="<%= path.id %>" d="<%= path.path.join(" ") %>" stroke-width="<%= svg.radius %>" />
					<% }) %>
					<% _.each(plot.points, function(point) { %>
						<circle class="<%= name %>" data-id="<%= point.id %>" cx="<%= point.x %>" cy="<%= point.y %>" r="<%= svg.radius %>" style="stroke-width:<%= 2 * svg.radius %>" />
					<% }) %>
				<% }) %>
			</svg>
		</script>
		
		<script type="text/template" id="template-stadium-card">
			<section class="card">
				<div class="stadium-header">
					<div class="stadium-name">
						<strong><%= get("data").name %></strong>
						<span>(<%= get("start").toLocaleDateString() %> <%= get("start").toLocaleTimeString() %>)<span>
					</div>
				</div>
				<div class="stadium-details">
					<% if(get("data").modifiers.length) { %>
						<div class="stadium-modifiers">
							<% _.each(get("data").modifiers, function(modifier) { %>
								<% modifier = getModifier(modifier) %>
								<span title="<%= modifier.title %>"><%= emoji(modifier.emoji) %></span>
							<% }) %>
						</div>
					<% } %>
					<div class="stadium-stat-row">
						<strong>Changes</strong>
						<span><%= _.reduce(get("changes"), function(c, d) { return c + ", " + d; }) %></span>
					</div>
					<div class="stadium-stat-row">
						<strong>Nickname</strong>
						<span><%= get("data").nickname %></span>
					</div>
					<div class="stadium-stat-row">
						<strong>Prefab</strong>
						<span><%= get("data").prefab %></span>
					</div>
					<div class="stadium-stat-row">
						<strong>Grandiosity</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("grandiosity") %>
							</div>
							<small>(<%= Math.round(get("data").grandiosity * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Fortification</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("fortification") %>
							</div>
							<small>(<%= Math.round(get("data").fortification * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Obtuseness</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("obtuseness") %>
							</div>
							<small>(<%= Math.round(get("data").obtuseness * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Ominousness</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("ominousness") %>
							</div>
							<small>(<%= Math.round(get("data").ominousness * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Inconvenience</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("inconvenience") %>
							</div>
							<small>(<%= Math.round(get("data").inconvenience * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Viscosity</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("viscosity") %>
							</div>
							<small>(<%= Math.round(get("data").viscosity * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Forwardness</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("forwardness") %>
							</div>
							<small>(<%= Math.round(get("data").forwardness * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Mysticism</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("mysticism") %>
							</div>
							<small>(<%= Math.round(get("data").mysticism * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Elongation</strong>
						<div class='stadium-stat-container'>
							<div class='stadium-stat-progress'>
								<%= getStatProgress("elongation") %>
							</div>
							<small>(<%= Math.round(get("data").elongation * 100) / 100 %>)</small>
						</div>
					</div>
					<div class="stadium-stat-row">
						<strong>Filthiness</strong>
						<span><%= get("data").filthiness %> (<%= Math.round(get("raw").filthiness * 100) / 100 %>)</span>
					</div>
					<div class="stadium-stat-row">
						<strong>Luxuriousness</strong>
						<span><%= get("data").luxuriousness %> (<%= Math.round(get("raw").luxuriousness * 100) / 100 %>)</span>
					</div>
					<div class="stadium-stat-row">
						<strong>Hype</strong>
						<span><%= get("data").hype %> (<%= Math.round(get("raw").hype * 100) / 100 %>)</span>
					</div>
					<% if(get("data").weather.length) { %>
						<div class="stadium-stat-row">
							<strong>Weather</strong>
							<span><%= _.reduce(get("data").weather, function(c, d) { return c + ", " + d; }) %></span>
						</div>
					<% } %>
				</div>
			</section>
		</script>
		
		<script data-main="hloroscopes.js" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js" integrity="sha512-c3Nl8+7g4LMSTdrm621y7kf9v3SDPnhxLNhcjFJbKECVnmZHTdo+IRO05sNLTH/D3vA6u1X32ehoLC7WFVdheg==" crossorigin="anonymous"></script>
	</body>
</html>